@use '../../styles/index.scss' as var;

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var.$background-main-style;
}

.game-container {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  // gap: 20px;
  // margin-bottom: 20px;
}

.navigation {
  margin: 20px 0;
}

.nav-btn {
  @include var.button-style;
  margin: 0 10px;
}

.correctanswers {
  font-family: var.$font-family;
  color: var.$background-main_accent_button-color;
  font-size: 18px;
  font-weight: bold;
}