@use '../../styles/index.scss' as var;



.vocabulary {

    // margin-top: 20px;  
    // padding: 0 20px;  
    // max-width: 100%;
    // overflow-x: auto;  /* Для горизонтальной прокрутки на маленьких экранах */
    // overflow-y: auto;  /* Для вертикальной прокрутки */
    // height: calc(100vh - 120px);  /* Ограничиваем высоту для уменьшения вертикального скролла */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0 20px 20px;
    max-height: 100vh;
    background-color: var.$background-main-style;
    color: var.$text-basic-color;
}


.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    // margin-top: 20px;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

button {
    padding: 5px 8px;
    font-size: 12px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;  
    transition: background-color 0.3s ease; /* Плавное изменение фона */
}

button:hover {
    background-color: #45a049;
}

input {
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px; /* Скругление полей ввода */
    font-size: 14px;
}

/* Адаптивность для разных размеров экранов */
@media (max-width: var.$desktop-size) {
    .table {
        font-size: 13px;  /* Меньше шрифт для экранов с размером до 1155px */
    }

    button {
        padding: 4px 7px;
        font-size: 11px;
    }
}

@media (max-width: var.$tablet-size) {
    .table-container {
        padding: 0 20px; 
    }

    .table {
        font-size: 12px;
    }

    button {
        padding: 3px 6px;
        font-size: 10px;
    }
}

@media (max-width: var.$mobile-size) {
    .table-container {
        padding: 0 15px;
    }

    .table {
        font-size: 11px;
    }

    button {
        padding: 3px 5px;
        font-size: 9px;
    }

    input {
        font-size: 13px; 

    th, td {
        padding: 6px 8px; 
    }
  }
}