@use '../../styles/index.scss' as var;

  .header {
  // @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 33px 20px 34px 20px;
  top: 0;
  left: 0;
  right: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: var.$desktop-size) {
    // margin-right: 0px;
  }

  @media screen and (max-width: var.$tablet-size) {
    order: 1;
    position: relative;
  }
}

.menu__link {
  display: flex; 
  list-style: none; 
  width: 100%;
  height: auto;
}

.menu__link a {
  text-decoration: none; /* Убираем подчеркивание */
  color: var.$text-basic-color; /* Цвет текста */
  padding: 10px 10px; /* Отступы вокруг текста */
  display: inline-block; /* Делаем ссылки блоками для правильного выравнивания */
}

.menu__link a:hover {
  background-color: var.$background-main-style; /* Цвет фона при наведении */
  color: var.$additional-accent-color; /* Цвет текста при наведении */
}

