@use '../../styles/index.scss' as var;

.footer {
    background-color: var.$background-main_accent_button-color;
    color: #fff;
    padding: 1em;
  }
  
  .text {
    font-size: 1.2em;
    color: #aaa;
  }