/* Variables
/* Colors */
/* $main-color: #6e9c9f;

$text-basic-color: #000;
$text-current_navigation_path-color: #909090;
$text-form_labels-color: #868686;
$text-old_price-color: #9c9c9c;
$text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color: #fff;

$background-beige-color: #f1eadc;
$background-main_accent_button-color: #509498;
$additional-accent-color: #998e78;

$background-main-style: rgba(110, 156, 159, 0.77);
$background-arrow-style: rgba(110, 156, 159, 0.1); */

/* Fonts */
/* $font-family: "Raleway", sans-serif;
$font-second-famil: "Roboto", sans-serif; */

/* Screen sizes */
/* $desktop-size: 1155px;
$tablet-size: 767px;
$mobile-size: 429px;
 */ */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
