@use '../../styles/index.scss' as var;

.card-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; // Ограничение ширины для лучшего вида

    // @media (max-width: var.$mobile-size) {
    //     flex-direction: column;
    //     align-items: center;
    // }
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    @media (max-width: var.$mobile-size) {
        transform: scale(0.7); // Уменьшение карточки со всем содержимым
        // margin: 5px 5px 5px 5px;
    }
}

.card-wrapper__left-button,
.card-wrapper__right-button {
    
    margin-left: 30px;
}

.nav-btn {
    @include var.button-style;
    font-size: 16px;
    transition: background-color 0.3s;
    white-space: nowrap;

    @media (max-width: var.$mobile-size) {
        font-size: 10px;
    }
}

.nav-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
