@font-face {
  font-family: "Raleway";
  src: url('/fonts/Raleway-Regular.ttf') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('/fonts/Raleway-Medium.ttf') format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('/fonts/Raleway-Bold.ttf') format("woff");
  font-weight: 700;
  font-style: normal;
}

// Глобальные настройки шрифтов
body {
  font-family: "Raleway", sans-serif;
}