@font-face {
    font-family: "Raleway";
    src: url('/App_English_Flashcards_Game/react/src/assets/fonts/Raleway-Regular.woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: "Raleway";
    src: url('/App_English_Flashcards_Game/react/src/assets/fonts/Raleway-Medium.woff2');
    font-weight: 700;
  }
  @font-face {
    font-family: "Raleway";
    src: url('/App_English_Flashcards_Game/react/src/assets/fonts/Raleway-Bold.woff2');
    font-weight: 400;
    font-size: 15px;
  }