// Глобальные переменные и миксины в SCSS:

@use "variables" as *; // Импортируем переменные

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-style {
  background-color: $background-main_accent_button-color;
  color: $text-main_colored_buttons;
  font-size: large;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
  &:hover {
    background-color: $additional-accent-color;
  }
}