@use './variables' as var;

// ================ОБЩИЕ СТИЛИ=================//

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html, body {
    height: 100%; /* Устанавливаем высоту для всей страницы */
    margin: 0; /* Убираем отступы */
  }

  html {
    width: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // можно добавить в контейнер
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;

    main {
      display: block;
      min-height: 100vh;
      flex-grow: 1; /* Дает main возможность расширяться, занимая все доступное пространство */
      overflow-y: auto; /* Позволяет прокрутку в случае необходимости */
    }
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var.$main-color;
    font-family: var.$font-family;
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var.$main-color;
    font-family: var.$font-family;
  }

