// Глобальные переменные в SCSS:

// Colors
$main-color: #355d73;

$text-basic-color: #60728e;
$text-form_labels-color: #868686;
$text-main_colored_buttons: #fff;

$background-beige-color: #f5e5e4;
$background-main_accent_button-color: #496f8d;
$additional-accent-color: #e28b78;

$background-main-style: rgba(208, 218, 224, 0.77);
$background-arrow-style: rgba(97, 127, 143, 0.1);

// Fonts
$font-family: "Raleway", sans-serif;
$font-second-famil: "Roboto", sans-serif;

// Screen sizes
$desktop-size: 1155px;
$tablet-size: 767px;
$mobile-size: 430px;