// Глобальные стили в SCSS
// as *; позволяет обращаться к переменным без префикса
@use './variables' as *;
@use './mixins' as *;
@use './fonts';

:root {
    // Передаём SCSS в CSS переменные
    // SCSS переменные работают только на этапе компиляции.
    // CSS переменные (--primary-color) можно менять динамически в JS
    --mainColor: #{$main-color};
    --text-basicColor: #{$text-basic-color};
    --textFormLabelsColor: #{$text-form_labels-color};
    --textMainColoredButtonsAndQuantityOfGoodsInBasketgitColor: #{$text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color};

    --backgroundBeigeColor: #{$background-beige-color};
    --backgroundMainAccentButtonColor: #{$background-main_accent_button-color};
    --additionalAccentColor: #{$additional-accent-color};
    
    --backgroundMainStyle: #{$background-main-style};
    --backgroundArrowStyle: #{$background-arrow-style};

    --fontFamily: #{$font-family};
    --fontSecondFamil: #{$font-second-famil};
    
    --desktopSize: #{$desktop-size};
    --tabletSize: #{$tablet-size};
    --mobileSize: #{$mobile-size};
}

body {
    height: 100%;
//   font-size: var(--font-size-lg);
//   background-color: var(--secondary-color);
}