@use '../../styles/index.scss' as var;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    background-color: var.$background-main-style;
    color: var.$text-basic-color;

    .logo {
        max-width: 40%;
        margin: 20px;
    }
    .hometext {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 20px;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    cursor: pointer;
}