@use '../../styles/index.scss' as var;

.card {
    width: 200px;
    height: 300px;
    perspective: 1000px; /* Для анимации переворота */
    position: relative;
    margin: 20px;

    &.flipped .card-front {
        transform: rotateY(180deg);
    }

    &.flipped .card-back {
        transform: rotateY(0deg);
    }
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Чтобы скрыть заднюю сторону при переворачивании */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: transform 0.6s ease;
//     flex-direction: column;
}

.card-front {
    background-color: var.$background-beige-color;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotateY(0deg);
    padding: 10px;
}

.card-back {
    // background-image: url('../../assets/images/logo_EnFLame_3.jpg'); 
    // background-size: cover; /* Растягивает изображение, сохраняя пропорции */
    // background-position: center; 
    // background-repeat: no-repeat; 
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card.flipped .card-front {
    transform: rotateY(180deg);
}

.card.flipped .card-back {
    transform: rotateY(0deg);
}

.word {
    font-size: 24px;
    font-weight: bold;
    color: var.$background-main_accent_button-color;
}

.transcription {
    font-size: 14px;
    color: var.$text-form_labels-color;
}

.translation {
    padding: 10px;
    font-size: 18px;
    color: var.$additional-accent-color;
}

.user-translation {
    padding: 10px;
    font-size: 18px;
    color: var.$background-main_accent_button-color;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    color: var.$background-main_accent_button-color;
}

input:focus {
    border-color: #66b3ff;
}

button {
    @include var.button-style;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.incorrect {
    border-color: red;
    background-color: #f8d7da; /* Легкий красный фон */
}
